<%= flash[:message] %>

<h1>Main Library</h1>


<% @kpopgroups.each do |group| %>
    <% if @user %>
        <%= link_to group.name,  user_kpopgroup_path(@user, group) %><br><br>
    <% else %>
        <%= link_to group.name, kpopgroup_path(group) %>
    <% end %>
<% end %>

<li><%= link_to "Add a New Group!",  new_kpopgroup_path   %></li>


