<ul>

    <li><%= link_to "Sign Up", signup_path %></li>
    <li><%= link_to "Log In",  login_path    %></li>
    <li><%= link_to "Log Out", logout_path,  method: :delete %></li>

</ul>




<br><br>
<% if logged_in? %>
 <li><%= link_to "Back to Main Page",  user_kpopgroups_path(current_user)   %></li>
<% end %>

